@mixin textPrimary($fw, $fs, $lh, $color) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $color;
  font-family: "Open Sans", sans-serif;
}

@mixin leftPosition($l, $t) {
  left: $l;
  top: $t;
}

@mixin rightPosition($r, $t) {
  right: $r;
  top: $t;
}
